<section id="documentation" class="my-3">
  <div class="row">
    <div class="col">
      <h2>
        <%= __('documentation') %>
      </h2>
      <div class="card my-3">
        <div class="card-body">
          <h5 class="card-title">
            <%= __('installation') %>
          </h5>
          <h6 class="card-subtitle mb-2 text-muted">npm</h6>
          <pre>npm install --save shevchenko</pre>
          <h6 class="card-subtitle mb-2 text-muted">Node.js</h6>
          <pre>const shevchenko = require("shevchenko");</pre>
          <h6 class="card-subtitle mb-2 text-muted">
            <%= __('browser') %>
          </h6>
          <pre class="mb-0"><‍script type="text/javascript" src="/path/to/shevchenko.min.js"><‍/script></pre>
        </div>
      </div>
      <div class="card my-3">
        <div class="card-body">
          <h5 id="usageExample" class="card-title">
            <%= __('usageExample') %>
          </h5>
          <pre class="mb-0">const anthroponym = {
  gender: 'male', // or 'female'
  firstName: 'Тарас',
  middleName: 'Григорович',
  lastName: 'Шевченко'
};

const result = shevchenko.inVocative(anthroponym);

console.log(result); // { gender: "male", firstName: "Тарасе", middleName: "Григоровичу", lastName: "Шевченку" }</pre>
        </div>
      </div>
      <div class="card my-3">
        <div class="card-body">
          <h5 id="api" class="card-title">API</h5>
          <pre class="mb-0">shevchenko.inNominative(anthroponym: Anthroponym): Anthroponym; // <%= __('inflectInNominativeCase') %>
shevchenko.inGenitive(anthroponym: Anthroponym): Anthroponym; // <%= __('inflectInGenitiveCase') %>
shevchenko.inDative(anthroponym: Anthroponym): Anthroponym; // <%= __('inflectInDativeCase') %>
shevchenko.inAccusative(anthroponym: Anthroponym): Anthroponym; // <%= __('inflectInAccusativeCase') %>
shevchenko.inAblative(anthroponym: Anthroponym): Anthroponym; // <%= __('inflectInAblativeCase') %>
shevchenko.inLocative(anthroponym: Anthroponym): Anthroponym; // <%= __('inflectInLocativeCase') %>
shevchenko.inVocative(anthroponym: Anthroponym): Anthroponym; // <%= __('inflectInVocativeCase') %></pre>
        </div>
      </div>
    </div>
  </div>
</section>