<hr>
<div class="row">
    <div class="col-sm-12">
        &copy; <%= config.library.releaseYear %>-<%= new Date().getFullYear() %> <%= config.library.name %> -
        <a href="<%= config.library.npmUrl %>" target="_blank">NPM</a> -
        <a href="<%= config.library.gitHubUrl %>" target="_blank">GitHub</a> -
        <a href="#" data-toggle="modal" data-target="#contactMe"><%= __('contactMe') %></a>
    </div>
</div>
