<hr>
<div class="row">
  <div class="col-sm-12">
    <nav>
      <ul class="list-unstyled" role="menubar">
        <p class="d-inline mr-2 mb-0">&copy; <%= config.library.releaseYear %>-<%= new Date().getFullYear() %>
              <%= config.library.name %>
        </p>
        <li class="d-inline mr-2" role="presentation">
          <a href="<%= config.library.npmUrl %>" target="_blank" role="menuitem">NPM</a>
        </li>
        <li class="d-inline mr-2" role="presentation">
          <a href="<%= config.library.gitHubUrl %>" target="_blank" role="menuitem">GitHub</a>
        </li>
        <li class="d-inline mr-2" role="presentation">
          <a href="#" data-toggle="modal" data-target="#contactMe" role="menuitem">
            <%= __('contactMe') %>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</div>