<section id="home" class="jumbotron my-3">
  <h1 class="text-truncate">
    <%= config.library.name %> <span class="d-none d-lg-inline"><small id="preview" class="text-muted"></small></span>
  </h1>
  <p>
    <%= __('app.name') %>
  </p>
  <p>
    <a class="btn btn-lg btn-primary" href="#demo" role="button">
      <%= __('demo') %>
    </a>
    <a class="btn btn-lg btn-default" href="#usageExample" role="button">
      <%= __('usageExample') %>
    </a>
  </p>
</section>

<section id="demo" class="my-3">
  <div class="row">
    <div class="col-12 col-lg-9">
      <h2 class="mb-0">
        <%= __('demo') %>
          <small class="d-block h6 text-muted mt-2 mb-0">
            <%= __('demo.subtitle') %>
          </small>
      </h2>
    </div>
    <div class="col-12 col-lg-3">
      <div class="d-flex">
        <div class="btn-group ml-auto" role="menubar">
          <a class="btn btn-lg btn-link btn-share-link" href="<%= share.facebookShareUrl %>"
            title="<%= __('shareOnFacebook') %>" target="_blank" role="menuitem"><i
              class="fa fa-facebook color-facebook" aria-hidden="true"></i></a>
          <a class="btn btn-lg btn-link btn-share-link" href="<%= share.twitterShareUrl %>"
            title="<%= __('shareOnTwitter') %>" target="_blank" role="menuitem"><i class="fa fa-twitter color-twitter"
              aria-hidden="true"></i></a>
          <a class="btn btn-lg btn-link btn-share-link" href="<%= share.linkedInShareUrl %>"
            title="<%= __('shareOnLinkedIn') %>" target="_blank" role="menuitem"><i
              class="fa fa-linkedin color-linkedin" aria-hidden="true"></i></a>
        </div>
      </div>
    </div>
  </div>
</section>