<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:image" content="<%= process.env.APP_PREVIEW_URL %>">
    <meta property="og:image:width" content="<%= process.env.APP_PREVIEW_WIDTH %>">
    <meta property="og:image:height" content="<%= process.env.APP_PREVIEW_WIDTH %>">
    <meta property="og:type" content="website">
    <meta property="og:url" content="<%= currentUrl %>">
    <meta property="og:site_name" content="<%= process.env.APP_NAME %>">
    <meta property="og:title" content="<%= `${process.env.APP_NAME} - ${__('appDescription')}` %>">
    <meta property="og:description" content="<%= `${process.env.APP_NAME} - ${__('appDescription')}` %>">
    <meta name="twitter:image" content="<%= process.env.APP_PREVIEW_URL %>">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="<%= `${process.env.APP_NAME} - ${__('appDescription')}` %>">
    <link rel="apple-touch-icon" sizes="57x57" href="./static/meta/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="./static/meta/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="./static/meta/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="./static/meta/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="./static/meta/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="./static/meta/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="./static/meta/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="./static/meta/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="./static/meta/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="./static/meta/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="./static/meta/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="./static/meta/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="./static/meta/favicon-16x16.png">
    <link rel="manifest" href="./static/meta/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="./static/meta/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <title><%= `${process.env.APP_NAME} - ${__('appDescription')}` %></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="./static/css/main.css">
</head>
<body>
<div class="container">
    <%- include('./partial/contactMeModal') -%>
    <%- include('./partial/navbar') -%>
    <%- include('./partial/header') -%>
    <%- include('./partial/demo') -%>
    <%- include('./partial/documentation') -%>
    <%- include('./partial/footer') -%>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/babel-polyfill/6.26.0/polyfill.min.js"></script>
<script src="https://use.fontawesome.com/eb2025b7f7.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
<script src="./static/js/shevchenko.min.js"></script>
<script src="./static/js/main.js"></script>
</body>
</html>
