<hr>
<div class="row">
    <div class="col-sm-12">
        &copy; <%= new Date().getFullYear() %> <%= process.env.APP_NAME %> -
        <a href="<%= __('libraryDocumentationUrl') %>" target="_blank"><%= __('documentation') %></a> -
        <a href="<%= process.env.LIBRARY_PACKAGE_NPM_URL %>" target="_blank">NPM</a> -
        <a href="<%= process.env.LIBRARY_PACKAGE_GITHUB_URL %>" target="_blank">GitHub</a> -
        <a href="#" data-toggle="modal" data-target="#contactMe"><%= __('contactMe') %></a>
    </div>
</div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/babel-polyfill/6.26.0/polyfill.min.js"></script>
<script src="https://use.fontawesome.com/eb2025b7f7.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="/js/shevchenko.bundle.min.js"></script>
<script src="/js/main.js"></script>
</body>
</html>
