<div id="home" class="jumbotron my-2">
    <h1 class="text-truncate">shevchenko <span class="d-none d-lg-inline"><small id="preview"
                                                                                 class="text-muted"></small></span>
    </h1>
    <p><%= __('appDescription') %></p>
    <p>
        <a class="btn btn-lg btn-primary" href="<%= currentUrl %>#demo" role="button"><%= __('demo') %></a>
        <a class="btn btn-lg btn-default" href="<%= currentUrl %>#usage" role="button"><%= __('usage') %></a>
    </p>
</div>
<div class="row my-2">
    <div class="col">
        <h2 id="demo" class="my-2"><%= __('demo') %>
            <span class="btn-group float-right">
                <a class="btn btn-lg btn-link btn-share-link"
                   href="<%= facebookShareUrl %>"
                   title="<%= __('shareOnFacebook') %>"
                   target="_blank"><i class="fa fa-facebook color-facebook" aria-hidden="true"></i></a>
                <a class="btn btn-lg btn-link btn-share-link"
                   href="<%= twitterShareUrl %>"
                   title="<%= __('shareOnTwitter') %>"
                   target="_blank"><i class="fa fa-twitter color-twitter" aria-hidden="true"></i></a>
                <a class="btn btn-lg btn-link btn-share-link"
                   href="<%= linkedInShareUrl %>"
                   title="<%= __('shareOnLinkedIn') %>"
                   target="_blank"><i class="fa fa-linkedin color-linkedin" aria-hidden="true"></i></a>
            </span>
        </h2>
    </div>
</div>
